.custom-pagination .custom-bullet {
  width: 10px;
  height: 10px;
  background-color: #cbd5e1;
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #1E45E1 !important;
  opacity: 1;
  transform: scale(1.2);
}