.flatpickr-calendar.animate.open {
  top: 70px !important;
  left: 310px !important;
  right: auto;
}


#custom-flatpickr-1 .flatpickr-calendar.animate.open {
  top: 500px !important;
  left: 310px !important;
}



.list-group-item {
  width: 200px !important;
}

.list-group-item:hover {
  background-color: #1E45E1;
  color: #fff;
}

.list-group-item.active {
  /* background-color: #E7F1FF;  */
  color: #fff;
}


.list-group-item .sub_item {
  width: 150px !important;
  /* background-color: #E7F1FF;  */
  color: #000;
}

.list-group-item .sub_item:hover {
  background-color: #1E45E1 !important;
  color: #fff;
}

.list-group-item .sub_item:active {
  background-color: #1E45E1 !important;
}




.list-group {
  --bs-list-group-color: var(--bs-body-color);
  /* --bs-list-group-bg: #E7F1FF !important; */
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  /* --bs-list-group-item-padding-x: 1rem; */
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #1E45E1 !important;
  --bs-list-group-active-border-color: #1E45E1 !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}

.react-datepicker-wrapper {
  width: 100% !important;

}

.custom-modal .modal-content {
  border-radius: 10px !important;

}


/* show-scroll-category */


.show-scroll-category::-webkit-scrollbar {
  width: 8px !important;

}

.show-scroll-category::-webkit-scrollbar-track {
  background: #dcdcdc !important;
  /* border-radius: 8px !important; */

}

.show-scroll-category::-webkit-scrollbar-thumb {
  background: #bcd4f5 !important;
  border: 3px solid #bcd4f5 !important;
  /* border-radius: 8px; */
  min-height: 20px !important;
}


 

@media (max-width: 768px) {
  .show-scroll-category {
    right: 0 !important;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    left: 100px;
  }

}

@media (max-width: 480px) {
  .show-scroll-category {
    right: 0 !important;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto;
  max-width: 100%;

}

.items-per-page select {
  padding: 5px;
  border: 1px solid #1E45E1;
  border-radius: 5px;
  color: #1E45E1;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.pagination-controls {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-controls li {
  margin: 0 10px;
}

.pagination-controls button {
  padding: 5px;
  text-decoration: none;
  border-radius: 50%;
  min-width: 30px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination-controls button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.page-indicator {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .pagination-container {
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: auto;
    right: auto;
    margin-top: 10px;
    padding: 0;

  }

  .items-per-page {
    margin-bottom: 10px;
  }

  .selectoption {
    font-size: 14px;
  }
}

/* .range-picker {
  height: 40px !important;
  margin-left: 7px !important;
  margin-top: 5px !important;
  cursor: pointer !important;
  width: 250px !important;
} */

@media (max-width: 380px) {
  .range-picker {
    width: 190px !important;
  }
}

@media (max-width: 320px) {
  .range-picker {
    width: 170px !important;
  }
}

@media (max-width: 280px) {
  .range-picker {
    width: 120px !important;
  }
}

/* Media Query (optional, for smaller screens) */
@media (max-width: 768px) {
  .filter-dropdown {
    right: 40px;
    width: 100px;
  }

  .submenu {
    right: auto;
    left: 100%;
    top: 0;
    width: 100px;
  }
}

@media (max-width: 480px) {
  .submenu {
    right: auto;
    left: 100%;
    width: 50px;
  }

  .filter-dropdown {
    right: 0;
    left: auto;
    width: 50px;
  }
}



@media (max-width: 400px) {
  .dots-popup {
    width: 80px;
    margin-top: 30px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 280px) {
  .dots-popup {
    width: 80px;
    margin-top: 30px;
    margin-left: 60px;
    transform: translate(-50%, -50%);
  }
}
