 
 
  
 
 @media (min-width: 501px) and (max-width: 735px) {
      .table-bills {
          max-height: 300px;
          overflow-y: auto;
      }

      body {
          overflow-y: hidden;
      }
  }

  @media (min-width: 250px) and (max-width: 500px) {
      .table-bills {
          max-height: 250px;
          overflow-y: auto;
      }

      body {
          overflow-y: hidden;
      }
  }
/* 
  @media print {
    .bill-invoice {
      overflow: visible !important;
      max-height: none !important;
    }
  } */
  