 
 
  
.show-scroll::-webkit-scrollbar {
    width: 8px !important;
    
  }
   
  .show-scroll::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px !important;
   
  }
   
  .show-scroll::-webkit-scrollbar-thumb {
    background: #E0E0E0 !important;
    border: 3px solid #E0E0E0 !important;
     border-radius: 8px;
    max-height: 5px !important;
  }
  
  
  
  .show-scrolls::-webkit-scrollbar {
    width: 8px !important;
    
  }
   
  .show-scrolls::-webkit-scrollbar-track {
    background: #fff !important;
    border-radius: 8px !important;
   
  }
   
  .show-scrolls::-webkit-scrollbar-thumb {
    background: #bcd4f5 !important;
    border: 3px solid #bcd4f5 !important;
     border-radius: 8px;
    min-height: 20px !important;
  }
  
  
  @media (max-width: 767px) {
    /* Hide scrollbar on small and extra-small screens */
    .show-scroll {
        overflow-y: hidden;
    }
  }
 
 @media (min-width: 501px) and (max-width: 735px) {
      .table-bills {
          max-height: 300px;
          overflow-y: auto;
      }

      body {
          overflow-y: hidden;
      }
  }

  @media (min-width: 250px) and (max-width: 500px) {
      .table-bills {
          max-height: 250px;
          overflow-y: auto;
      }

      body {
          overflow-y: hidden;
      }
  }
/* 
  @media print {
    .bill-invoice {
      overflow: visible !important;
      max-height: none !important;
    }
  } */
  