/* .flatpickr-calendar.animate.open {

    top: 15px !important;
    left: 40px !important;
     right:auto; 

} */

.flatpickr-calendar.animate.open {
  top: 20% !important;
    left: 50% !important;
    right:auto;
}




.list-group-item {
    width:250px !important;
}
.list-group-item:hover {
    background-color:  #1E45E1; 
    color: #fff; 
  }
  
  .list-group-item.active {
    background-color: #1E45E1; 
    color: #fff; 
  }


  .list-group-item .sub_item {
    width:200px !important;
    background-color: #EBEBEB; 
    color: #000; 
  }

  .list-group-item .sub_item:hover {
    background-color:  #1E45E1 !important; 
    color: #fff; 
  }
  .list-group-item .sub_item:active {   
    background-color: #1E45E1 !important; 
  }

 


 .list-group {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg:  #1E45E1 !important;
  --bs-list-group-active-border-color: #1E45E1 !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}


