/* nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: #1E45E1 !important;
    border-bottom-color: #1E45E1 !important;
} */

.Nav-Links.active{
    color: #1E45E1 !important;
    border-bottom-color: #1E45E1 !important;
}
.Nav-Links{
    color:#939393 !important;
}