
.Nav-Links{
    color: #000000 !important;
   
    
}
.Nav-LinksUnActive{
    color:#939393 !important;
   
}
.Navs-Item{
    border: 2px solid  #dcdcdc !important;
    color: #000000 !important;
}
.active-floor {
    border: 2px solid  #1E45E1 !important;
    color: #000000 !important;
  }

.pagination {
    --bs-pagination-padding-x: 0.85rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 18px !important;
    --bs-pagination-color: #000 !important;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: white !important;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: unset !important;
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: unset !important;
    --bs-pagination-focus-box-shadow: unset !important;
       --bs-pagination-active-color: #0d6efd !important;
    --bs-pagination-active-bg: unset !important;
    --bs-pagination-active-border-color: #dcdcdc !important;
       --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: unset !important;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.disabled>.page-link, .page-link.disabled {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: unset !important;
    border-color: #dcdcdc !important;
    
}


.page-link {
    position: relative;
    display: block;
    visibility: visible;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: #dcdcdc !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.active>.page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border: 1px solid #dcdcdc !important;
    border-radius: 5px !important;
}

