
@media (max-width: 450px) and (min-width: 250px) {
    .scroll-issue {
      max-height: 300px;
      overflow-y: auto;
    }
  
    body {
      overflow-y: hidden;
    }
  }


  @media (max-width: 991.98px) {
 .manage-pg {
      height: 600px !important;
    }
  }
  
  @media (max-width: 767.98px) { /* sm screens (up to 767.98px) */
    .manage-pg{
      height: 300px !important;
    }
  }