.show-scrolls::-webkit-scrollbar {
    width: 1px !important;
    min-width: 1px;
  }
  
  .show-scrolls::-webkit-scrollbar-track {
    background: #E0E0E0 !important;
    border-radius: 8px !important;
  }
  
  .show-scrolls::-webkit-scrollbar-thumb {
    background: rgb(200, 220, 250) !important;
    border-radius: 8px;
  }
  
  .show-scrolls {
    scrollbar-width: thin;
    scrollbar-color: rgb(200, 220, 250) transparent; /* Thumb and track color */
    overflow-y: auto; /* Ensure scrollbar is visible */
  }

  .custom-modal .modal-content {
    border-radius: 20px;
 
  }
  /* ::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */

  @media (max-width: 991.98px) {
    .col-md-3 {
      height: 600px !important;
    }
  }
  
  @media (max-width: 767.98px) { 
    .col-md-3 {
      height: 520px !important;
    }
  }
  @media (max-width: 991.98px) {
    .col-md-9 {
      height: 600px !important;
    }
  }
  
  @media (max-width: 767.98px) { 
    .col-md-9 {
      height: 520px !important;
    }
  }
  /* More specific selector to override global .col-md-3 height */
.no-height-override {
  height: auto !important;
  margin-top: 20px !important;
}
