.date-picker-container {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    z-index: 10;
    font-family: Arial, sans-serif;
    width: 93%;
    background-color: white; /* ⬅️ White background */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .date-picker-container h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
  }
  
  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .date-cell {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .date-cell:hover:not(.empty) {
    background-color: #f0f0f0;
  }
  
  .date-cell.selected {
    background-color: rgba(30, 69, 225, 1);
    color: white;
  }
  
  .date-picker-footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #666;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
  
  .startmonthone {
    background-color: rgba(30, 69, 225, 1);
    color: white;
    cursor: pointer;
    padding: 14px;
    border-radius: 8px;
  }
  .startmonthtwo {
    background-color: rgba(30, 69, 225, 0.42);
     border: 1px solid rgba(30, 69, 225, 0.42);
    color: white;
    cursor: pointer;
    padding: 14px;
    border-radius: 8px;
  }
  


  .Endmonthone {
    cursor: pointer;
    padding: 14px;
    border: 1px solid rgba(30, 69, 225, 0.42);
    border-radius: 8px;
    background-color: rgba(30, 69, 225, 0.42);
    color: white;
  }

  .Endmonthtwo {
    
    background-color: rgba(30, 69, 225, 1);
    cursor: pointer;
    padding: 14px;
    border: 1px solid rgba(30, 69, 225, 1);
    border-radius: 8px;
    color: white;
  }
  


  /* ........................ */

  .toggle-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Gilroy', sans-serif;
  }
  
  .toggle-label {
    margin-right: 10px;
    font-size: 14px;
    color: #1e45e1;
  }
  
  .toggle-label.active {
    font-weight: 600;
  }
  
  .toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .toggle-switch.on {
    background-color: #1e45e1;
    justify-content: flex-end;
  }
  
  .toggle-switch.off {
    background-color: #ccc;
    justify-content: flex-start;
  }
  
  .toggle-thumb {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* ........................checkbox style below */
  .custom-checkbox:checked {
    background-color: rgba(30, 69, 225, 1); /* blue-800 */
    border-color: rgba(30, 69, 225, 1);
  }
  .custom-checkbox:focus {
    box-shadow: none;
    border-color: rgba(30, 69, 225, 1);
  }
  
  