@media (max-width: 450px) and (min-width: 250px) {
    .scroll-issue {
        margin-top: 20px;
      max-height: 350px;
      overflow-y: auto;
    }
  
    body {
      overflow-y: hidden;
    }
  }
  @media only screen and (width: 540px) and (height: 720px) {
    .scroll-issue{
      max-height: 400px;
      overflow-y: auto;
    }
  }
