.custom-modal .modal-content {
    border-radius: 20px;
    
  }

.custom-switch-pointer input[type="checkbox"], .custom-switch-pointer label {
    cursor: pointer !important;
    font-family: 'Gilroy' !important;
}
  .pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 10px 16px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    z-index: 995;
  }


  .dropdown-content::-webkit-scrollbar {
  width: 8px; 
}

.dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1;;
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #a0a0a0; 
  border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}

  
  

  @media (max-width: 767.98px) {
    .card-width-sm {
      width: 100% !important;
      max-width: 100% !important;
      flex: 0 0 100% !important;
      
    }
  }

  @media (max-width: 767.98px) {
    .card-height-sm {
      padding: -15px !important;
    }
  
    .card-height-sm .icon-wrapper {
      gap: 6px !important; 
    }
  
   
  
    .card-height-sm li {
      margin-bottom: 0px !important; 
    }
  }
  
  @media (max-width: 767.98px) {
    .card-inner {
      margin-top: -35px !important;
    }
  }

 
  
   @media (max-width: 450px) {
    .pagination-container {
      flex-direction: column;
      align-items: center;
      position: absolute; 
      bottom: auto;
      right: auto;
      margin-top: 10px;
      padding: 0;
      
    }
  
    .items-per-page {
      margin-bottom: 10px; 
    }
    .selectoption{
      font-size: 14px;
    }
  }
  
  @media (max-width: 450px) and (min-width: 250px) {
    .scroll-issue {
      max-height: 320px;
      overflow-y: auto;
    }
  
    body {
      overflow-y: hidden;
    }
  }

  @media only screen and (width: 540px) and (height: 720px) {
    .scroll-issue{
      max-height: 300px;
      overflow-y: auto;
    }
  }

  
  @media (max-width: 450px) {
    .scroll-issue {
      max-height: 75vh;
      overflow-y: auto;
      padding-bottom: 80px; 
    }
  
    body {
      overflow-y: auto; 
    }
  }

  .scroll-issue {
    overflow-y: auto;
    padding-bottom: 80px;
    z-index: 2; 
  }
  

  @media (min-width: 900px) {
    .pagination-wrapper {
      justify-content: flex-end !important;
    }
  }
  
  
  
  
  