@media (max-width: 450px) and (min-width: 250px) {
    .scroll-issue {
      max-height: 220px;
      overflow-y: auto;
    }
  
    body {
      overflow-y: hidden;
    }
  }
  /* @media (max-width: 900px) and (min-width: 451px) {
    .scroll-issue {
      max-height: 220px;
      overflow-y: auto;
    }} */