.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table thead {
  background-color: #F6F7FB;
  font-size: 14px;
  color: #91969E;
}

.custom-table th, .custom-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table th {
  text-align: left;
}

.custom-table tbody tr {
  font-weight: 700;
}

.custom-table tbody tr td {
  color: black;
}

.custom-table tbody tr td.name {
  color: #0D99FF;
  text-decoration: underline;
  cursor: pointer;
}

.custom-table tbody tr td.assign-bed {
  color: #0D99FF;
  text-decoration: underline;
  cursor: pointer;
}


/* roomtetail */

.tapppinfour{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab-item {
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}


/* .tab-item.active {
  text-decoration: underline;
  text-decoration-color: blue;
  
  
} */
.tab-item.active {
  text-decoration: underline;

  text-decoration-color: #1E45E1;
  text-underline-offset: 10px; /* Adjust this value as needed */
  text-decoration-thickness: 2px;
}
@media (max-width:800px) {
    
  .tapppinfour{
    display: flex;
    flex-direction: column;
   
  }
  .tab-item {
    padding: 2px;
    cursor: pointer;
  }
 }

 /* overdue */

 .overdue{
  display: flex;
  flex-direction: row;

 }


 /* amni */
 .spantag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 }
 .ebtable{
  border: 1px solid #DCDCDC;
  border-radius: 24px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
 }
 .ebtable td{
  border: none;
 }