.App {
  text-align: center;
}
  /* .forget {
    display:flex;
    flex-direction: column;
    justify-content: center;
    } */
body{
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.profile{
  color: gray;
}
ul li{
  color: rgb(126, 125, 125);
  font-weight: 3px;
}
.name{
 background: transparent url('../Assets/Images/login-user.png' ) no-repeat right ; 
 background-size: 15px;
 padding-right: 10%;
 background-position:98% 10px, top right;
 background-color: white;
 border-radius: 2px;
 color:lightgray;

}
.pwd{
  background: transparent url('../Assets/Images/login-password.png' ) no-repeat right ;
  background-size: 15px;
  padding-right: 10%;
  background-position:98% 10px, top right;
  background-color: white;
  border-radius: 2px;
  color:lightgray;
}

.phone{
  background: transparent url('../assests/image/phone.png' ) no-repeat right ;
  background-size: 10px;
  padding-right: 10%;
  background-position:95% 10px, top right;
  background-color: white;
  border-radius: 2px;
  color:lightgray;
}

.email{
  background: transparent url('../assests/image/emailid.png' ) no-repeat right ;
  background-size: 15px;
  padding-right: 10%;
  background-position:95% 10px, top right;
  background-color: white;
  border-radius: 2px;
  color:lightgray;
 
}
.name::placeholder{
  padding-left: 10px;
}
.phone::placeholder{
  padding-left: 10px;
}
.email::placeholder{
  padding-left: 10px;
}
.pwd::placeholder{
  padding-left: 10px;
 
}

/* body input {
  width:"30%"
} */
.secondrow{
  width:64%;
  display:flex;
  /* flex-direction: column;
  width: 50%;
  text-size-adjust: 8px; */
}
.mobphno{
  width: 50%;
}
@media only screen and (max-width: 460px) {
  .profile{
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 500px) {

   .header {
   font-size: 10px;

   }
   .header button{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 15px;
    }

  .footer{
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  /* .forget {
    display:flex;
    flex-direction: column;
    } */
  .secondrow{
    display:block;
    /* flex-direction: column;
    width: 50%;
    text-size-adjust: 8px; */
  }
  .mobphno{
    width: 100%;
  }
  .profile{
    font-size: 13px;
  }
  .secondrow label {
    font-size: 14px;
  }
  .sr-only{
    font-size: 14px;
  }

  .lists ul li {
    font-size: 10px;
  }

  input  {
    font-size: 5px;
    padding: 2px;
    padding-right: 3px;
  }

 input [type=email]{
  width: 20%;
  font-size: 5px;
  border: 2px 2px 2px 2px solid black;
 }
 input [type=phone]{
  width: 20%;
 }
 input [type=password]{
  width: 50%;
 }

}

