body{
  font-family: 
system-ui, 
-apple-system, BlinkMacSystemFont,
 'Segoe UI', 
Roboto, Oxygen, Ubuntu, Cantarell, 
'Open Sans', 'Helvetica Neue', sans-serif;

/* overflow: hidden; */

}
.list {
  display: flex;
}

.list ul {
  list-style: circle;
  padding-left: 25px;
}


.list ul li:hover {
  background-color: #F6F7FB; 
  /* cursor: pointer; */
  color: grey;
}
.forget1{
  background-color: rgb(246,247,251);
  height: 100vh;
  width: 100%;
}
.few{
  color: grey;
}

.forget{
font-family: 
system-ui, 
-apple-system, BlinkMacSystemFont,
 'Segoe UI', 
Roboto, Oxygen, Ubuntu, Cantarell, 
'Open Sans', 'Helvetica Neue', sans-serif;

display: flex;
flex-direction: row;
}

.Content1{
    width: 30%;
    background-color: rgb(0,120,215);
    height: 100vh;
    color: white;
}

.rightside{
  margin-left: 20px;
}



      .pass{
         
          background: transparent url( '../Assets/key.png') no-repeat right;
          background-size: 40px;
          width: 70%;
          border: none ;
          padding: 10px ;
          margin-top: 4px ;
          background-color: #FFFFFF;
          border-radius: 5px;
          height: 35px;
          font-size: 13px;
         }

      .pass1{
       
        /* background: transparent url( '../Assets/new-password.png') no-repeat right; */
        /* background-size: 40px; */
        width: 70%;
        border: none ;
        padding: 10px ;
        margin-top: 4px ;
        background-color: #FFFFFF;
        border-radius: 5px;
        height: 35px;
        font-size: 13px;
           }
input .pass::placeholder{
       font-size: 10px ;
       
      
   }
input .pass1::placeholder{
       font-size: 10px;
  }
  .reset{
    font-size: 12px;
    font-weight: 530;
  }
  .reset1{
    font-size: 12px;
    font-weight: 530;
  }
  .list{
    display:flex;
    justify-content:space-between ;
    padding-left: 19%;
    padding-right: 24%;
    line-height: 10px;
    font-size: 13px;
    font-weight: 600;

  }
  .btn{
    background-color: #2f74eb;
    height: 30px;
    
  
  }
  .passss{
    font-size: 10;
  }
 
  ul li{
    color: rgb(126, 125, 125);
    font-weight: 3px;
  }        
@media only screen and (min-width: 601px) and (max-width: 850px) {

.forget1{
  width: auto;
  margin-right: 3%;
  
}


  }      

@media only screen and (max-width: 600px) {
 
  .forget {
    display:flex;
    flex-direction: column;
    background-color: rgb(246,247,251);
    /* background-attachment: fixed; */
    height: 100vh;
    width: 100%;
    /* overflow: visible; */
  }
.Content1{
height: 100vh;
width: 100%;
flex:1;
/* height: 50%; */
}
.forget1{
height: 100vh;
flex: 1;
}

.pass{
width: 90%;
margin-right: 20ox;
}
.pass1{
width: 90%;
}
  .list ul li {
    font-size: 10px;
  }
  .footer{
    font-size: 8px;
    line-height: 70%;
  }

  .pass::placeholder{
      font-size: 12px;
      
    }
  .pass1::placeholder{
      font-size: 12px;
    } 
}
@media only screen and (min-width: 200px) and (max-width: 850px) {
  .rightside{
    margin-left: 20px;
   

}
.few{
  color: grey;
  width: 100%;
}
}