/* // navbar.css */

body {
  overflow-y: hidden;
}
.navigation {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: gray;
  font-weight: 500;
  box-shadow: 0 1.5px 1.5px 1.5px rgba(116, 111, 111, 0.23);
 
}
.mainNavbar {
  text-decoration: none;
  color: gray;
  font-size: 13px !important;
  margin-left: 2%;
  display: inline;
  font-weight: 500;
 }


.mainNavbar:hover {
  color: rgb(53, 51, 51) !important;
}

.button, .signup {
  color: white;
  text-decoration: none;
  margin-left: 15%;
  font-size: 13px !important;
} 

.smartstay {
  text-decoration: none;
  color: rgb(69, 69, 235);
  font-weight: bold;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 150px;
  height: 35px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4.4%;
}

.paragraph {
  flex: 1;
  align-items: center;
  text-align: left;
  margin-left: 5%;
  margin-right: 9%;
  margin-top: 5%;
}

.image {
  flex: 2;
  align-items: center;
}
.screen{
  width: 580px;
  height: 380px;
}

.startNow {
  margin-top: 5%;
  width: 50%;
  padding-left: 20%;
  padding-right: 20%;
}
.sign-in{
  margin-left: 13%;
  font-size: 13px !important;
  cursor: pointer;
}
.navbar12{
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width:200px) and (max-width:800px) {
  .navbar12{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: white;
  }
  .join {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  
  /* padding: 7%; */
  }
  
  .paragraph {
    flex: 4;
    align-items: center;
    text-align: left;
  }
  
  .image {
    /* margin-top: 25%; */
    flex: 6;
    align-items: center;
  }
  
  .navigation {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    color: black;
    box-shadow: 0 1.5px 1.5px 0 rgba(116, 111, 111, 0.23);
    
  }
  
  .mainNavbar {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    text-shadow: 0.5px 0.5px gray;
    margin-left: .8;
  }
  
  .mainNavbar:hover {
    color: rgb(53, 51, 51);
  }
  
  .signup {
    color: white;
    text-decoration: none;
    margin-left: 0.5%;
  }
  .navbar12{
    text-align: right ;
  }
  .screen{
    width: 80%;
    height: 80%;
  }

}
@media screen and (min-width:801px) and (max-width:900px) {
  .navbar12{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: white;
    width: 90%;
    text-align: right;
  }
  .join {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  /* height: 100vh;
  padding: 7%; */
  }
  
  .paragraph {
    flex: 5;
    align-items: center;
    text-align: left;
  }
  .image {
    flex: 5;
    align-items: center;
  }
  .navigation {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    box-shadow: 0 1.5px 1.5px 0 rgba(116, 111, 111, 0.23);
    
  }
  
  .mainNavbar {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    text-shadow: 0.5px 0.5px gray;
    margin-left: 1%;
  }
  
  .mainNavbar:hover {
    color: rgb(53, 51, 51);
  }
  
  .signup {
    color: white;
    text-decoration: none;
    margin-left: 2%;
  }
  
  .screen{
    margin-bottom: -10%;
    width: 80%;
    height: 90%;
  }
  
}
@media screen and (min-width:901px) and (max-width:991px) {
  .join {
    display: flex;
    flex-direction: row;
    width: 100%;
 
  }
  
  .paragraph {
    flex: 5;
    align-items: center;
    text-align: left;
  }
  
  .image {
    margin-top: 25%;
    flex: 5;
    align-items: center;
  }
  .navigation {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    box-shadow: 0 1.5px 1.5px 0 rgba(116, 111, 111, 0.23);
    
  }
  
  .mainNavbar {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    text-shadow: 0.5px 0.5px gray;
    margin-left: 1%;
  }
  
  .mainNavbar:hover {
    color: rgb(53, 51, 51);
  }
  
  .signup {
    color: white;
    text-decoration: none;
    margin-left: 2%;
  }
  .navbar12{
    text-align: right;
    display: block;
    border: 1px solid white;
    background-color: white;
  /* flex-direction: column; */
  }
  .nav-link{
    display: inline;
  }
  
  .screen{
    width: 80%;
    height: 80%;
  }
  
}


@media screen and (min-width:992px) and (max-width:1155px) {
  .smartstay {
    text-decoration: none;
    color: rgb(69, 69, 235);
    font-weight: bold;
    font-size: 20px;
    margin-left: 6%;
    margin-right: 9%;
    width: 150px;
    height: 35px;
  }
  .join {
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }
  
  .paragraph {
    flex: 5;
    align-items: center;
    text-align: left;
  }
  
  .image {
    /* margin-top: 20%; */
    flex: 5;
    align-items: center;
  }
  .screen{
    width: 560px;
    height: 350px;
    margin-top: 5%;
  }
  .navigation {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    box-shadow: 0 1.5px 1.5px 0 rgba(116, 111, 111, 0.23);
    
  }
  
  .mainNavbar {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    text-shadow: 0.5px 0.5px gray;
    margin-left: 2%;
  }
  
  .mainNavbar:hover {
    color: rgb(53, 51, 51);
  }
  
  .signup {
    color: white;
    text-decoration: none;
    margin-left: 0%;
  }
  .sign-in{
    margin-left: 18%;
  }
}



@media screen and (min-width:280px) and (max-width:850px) {

  .paragraph{
    margin-top: 100px;
  font-size: large ;
   
  }
  
  .screen{
    width: 100%;
    margin-top: 50px;
  }
  
  }