*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.custom-input:focus {
  box-shadow: none !important; 
  border-color: #ced4da !important; 
}
@media (max-width: 600px) {
    .Form{
      
        padding:20px;
      
    }
   
  }
  @media (max-width: 390px) {
    #Welcome{
        padding-top:50px !important;
    }
  }