.show-scrolls-sidebar::-webkit-scrollbar {
  width: 2px !important;
}

.show-scrolls-sidebar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 8px;
}

.list-Item,
.list-Items,
.list-sub-Item {
  cursor: pointer;
  color: #64748B;
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  /* max-width:180px !important; */
  width: 100%;
  gap: 15px !important;
}

.list-Item-Hostel {
  cursor: pointer;
  color: #64748B;
   padding: 10px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  gap: 15px !important;
  margin-top: 2px;
}

.list-Item-Hostel:hover {
  background-color: #F6F8FF;
  color: #1E45E1;
}

.list-Item-Hostel.active {
  background-color: #1E45E1;
  color: #FFFFFF;
}


/* .show-scrolls-sidebar ul li {
  min-height: 0;
} */

/* .sidebar::-webkit-scrollbar { display: none }
.main-content::-webkit-scrollbar { display: none } */
.list-Item:hover,
.list-Items:hover,
.list-sub-Item:hover {
  background-color: #F6F8FF;
  color: #1E45E1;
}

.list-Item.active,
.list-Items.active,
.list-sub-Item.active {
  background-color: #1E45E1;
  color: #FFFFFF;
}

.Profile_Hover {
  padding: 10px;
  border-radius: 8px;
}

.Profile_Hover:hover {
  background-color: #F6F8FF;
  color: #1E45E1;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.35s ease, opacity 0.25s ease;
}

.submenu.open {
  max-height: 600px;
  opacity: 1;
  overflow-y: auto !important;
}