
.list-Item.active {
  background-color:  #FFFFFF!important; 
  color: rgba(30, 69, 225, 1)!important; 
}
.list-Item{
  border-radius: 6px;
}




.container {
  width: 100%;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  background-color: #FFFFFF;
}

#exampleInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  font-weight: 700;
}

#exampleInput {
  box-shadow: none;
}

#exampleSelect {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  font-weight: 700;
}

#exampleSelect {
  box-shadow: none;
}
#hostel-image{
position:relative;
}
#plus-image{
position:absolute;
margin-top:38px;
}


.list-Item:hover{
  background-color: #FFFFFF !important;
  color:gray !important;
}

.menu-icon:hover img{
 
  color:white !important;
}



@media (max-width: 768px) {
  .Title{
    display: none !important;
  }
  .list-Item{
    display: flex !important;
    justify-content: center !important
  }
}



/* @media (max-width:650px) {
  .container {
    display: flex;
    flex-direction: column;
  }
} */

@media (max-width: 390px) {
  .Title {
    display: none !important;
  }
  .toggleButton{
    display:none !important;
  }
  .list-Item{
    display: flex !important;
    justify-content: center !important;
    padding:0 px !important;
  }
}
@media (max-width: 200px) {
  .Title {
    display: none !important;
  }
  .toggleButton{
    display:none !important;
  }
  .list-Item{
    display: flex !important;
    justify-content: center !important;
    padding:0 px !important;
  }
}