ul li {
  padding-top: 15px;

}
.list-Item.active {
  background-color:  #E6ECF8 !important; 
  color: #2E76E3 !important; 
}


.container {
  width: 100%;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  background-color: #FFFFFF;
}

#exampleInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  font-weight: 700;
}

#exampleInput {
  box-shadow: none;
}

#exampleSelect {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  font-weight: 700;
}

#exampleSelect {
  box-shadow: none;
}
#hostel-image{
position:relative;
}
#plus-image{
position:absolute;
margin-top:38px;
}


.list-Item:hover{
  background-color: #e0e0e0 !important;
  color:gray !important;
}

.menu-icon:hover img{
 
  color:white !important;
}



@media (max-width: 768px) {
  .Title{
    display: none !important;
  }
}



@media (max-width:650px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .Title {
    display: none !important;
  }
  .toggleButton{
    display:none !important;
  }
}
