
.responsive-modal-fix {
  width: 100%;
  max-width: 960px; 
  margin: 0 auto;
  /* box-sizing: border-box; */
}


@media (max-width: 709px) {
  .responsive-modal-fix {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
    max-width: none;
  }
}

/* @media (max-width: 709px) {
  .responsive-modal-fix {
    width: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
} */

/* @media (max-width: 320px) {
  .responsive-modal-fix {
    margin-left: 12px;
    margin-right: 12px;
  }
} */

@media only screen and (max-width: 298px) and (min-width: 280px) {
  .responsive-modal-fix {
    margin-left: 12px;
    margin-right: 12px;
  }
}


       
 