::-webkit-scrollbar {
    display: none;
}


 @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-ExtraBold.otf') format('truetype');
           font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Light_0.ttf') format('truetype');
           font-weight: 300;
    font-style: normal;
  }
 
  /* semi bold - 600 */

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-SemiBold_0.ttf') format('truetype');
           font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Medium_0.ttf') format('truetype');
           font-weight: 500;
    font-style: normal;
  }




 @font-face {
    font-family: 'Montserrat';
    src: url('/src/Assets/Fonts/Montserrat-SemiBold.otf') format('truetype');
           font-weight: 600;
    font-style: normal;
  } 
