::-webkit-scrollbar {
    display: none;
}


 @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-ExtraBold.otf') format('truetype');
           font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Light_0.ttf') format('truetype');
           font-weight: 300;
    font-style: normal;
  }
 
  /* semi bold - 600 */

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-SemiBold_0.ttf') format('truetype');
           font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Medium_0.ttf') format('truetype');
           font-weight: 500;
    font-style: normal;
  }

  /* @font-face {
       font-family: 'Satoshi';
       src: url('/src/Assets/Font/Satoshi-Medium_0.ttf') format('truetype');
              font-weight: 500;
       font-style: normal;
     } */


 @font-face {
    font-family: 'Montserrat';
    src: url('/src/Assets/Fonts/Montserrat-SemiBold.otf') format('truetype');
           font-weight: 600;
    font-style: normal;
  } 

  @font-face {
       font-family: 'Montserrat';
       src: url('/src/Assets/Fonts/Montserrat-Medium.otf') format('truetype');
              font-weight: 500;
       font-style: normal;
     } 
     @font-face {
       font-family: 'Montserrat';
       src: url('/src/Assets/Fonts/Montserrat-Light.otf') format('truetype');
              font-weight: 400;
       font-style: normal;
     } 
     /* @font-face {
       font-family: 'Outfit';
       src: url('/src/Assets/Fonts/Outfit.ttf') format('truetype');
       font-weight: 300;
       font-style: normal;
   } */