/* 
.form-control::placeholder {
  color: #9aa0a6;       
  opacity: 1;
}


.form-control:placeholder-shown {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}


.form-control:not(:placeholder-shown),
.form-control:focus {
  opacity: 1;
}



.ant-picker-input > input[value] {
  font-weight: 600;
  color: #000000 !important;
  opacity: 1;
}


.ant-picker-input > input.ant-picker-input-active {
  font-weight: 600 !important;
  color: #000000 !important;
  opacity: 1 !important;
}

.ant-picker-input > input::placeholder {
  color: #9aa0a6 !important;
  opacity: 0.5 !important;
}


.ant-picker {
  opacity: 0.7;
  transition: opacity 0.2s ease;
  border: 1px solid #D9D9D9; 
  box-shadow: none !important; 
}




.ant-picker:hover,
.ant-picker-focused {
  border-color: #D9D9D9 !important; 
  box-shadow: none !important;       
}




:where(.css-dev-only-do-not-override-5uvb3z).ant-picker .ant-picker-input > input::placeholder {
  color: #9aa0a6 !important;
  opacity: 0.5;
  font-weight: 500;
}


:where(.css-dev-only-do-not-override-5uvb3z).ant-picker .ant-picker-input > input {
 font-size: 16px !important;
} */


body {
  margin: 0;
  overflow: hidden;
}



.form-control::placeholder {
  color: #9aa0a6 !important;
  opacity: 0.5 !important;
  font-weight: 500 !important;
}


.form-control:placeholder-shown {
  opacity: 1 !important;
  transition: opacity 0.2s ease;
}

.form-control:not(:placeholder-shown),
.form-control:focus {
  opacity: 1 !important;
}


.ant-picker-input > input::placeholder,
:where(.css-dev-only-do-not-override-5uvb3z).ant-picker .ant-picker-input > input::placeholder {
  color: #9aa0a6 !important;
  opacity: 0.5 !important;      
  font-weight: 500 !important;
}

.ant-picker-input > input[value],
.ant-picker-input > input.ant-picker-input-active {
  font-weight: 600 !important;
  color: #4B4B4B !important;
  opacity: 1 !important;
}

.ant-picker {
  opacity: 1 !important;
  border: 1px solid #D9D9D9;
  transition: opacity 0.2s ease;
  box-shadow: none !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: #D9D9D9 !important;
  box-shadow: none !important;
}

.custom__placeholder {
  color: #9aa0a6 !important;
  font-weight: 500 !important;
  opacity: 0.5 !important;
  font-family: "Gilroy", sans-serif;
}



.custom-tooltip .tooltip-inner {  
  background-color: #1e45e1 !important;
    color: #fff !important;
  font-family: "Gilroy";
  font-size: 13px;
  border-radius: 8px;
  padding: 6px 10px;
}

.custom-tooltip .tooltip-arrow::before {
  border-right-color: #1e45e1 !important; 
}


.css-ljzrea-control:hover {
  border-color:  #d9d9d9 !important;
}


 ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.react-datepicker__header {
  text-align: center;
  background-color: #FFF !important;
  border-bottom: unset !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker {
  font-family: 'Gilroy' !important;
  font-size: 0.8rem;
  border: 1px solid rgb(217, 217, 217) !important;
}

 @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-ExtraBold.otf') format('truetype');
           font-weight: 800;
    font-style: normal;
  }
  @font-face {
  font-family: 'Gilroy';
  src: url('/src/Assets/Font/Gilroy-Bold_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Light_0.ttf') format('truetype');
           font-weight: 300;
    font-style: normal;
  }
 
  /* semi bold - 600 */

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-SemiBold_0.ttf') format('truetype');
           font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('/src/Assets/Font/Gilroy-Medium_0.ttf') format('truetype');
           font-weight: 500;
    font-style: normal;
  }

  @font-face {
       font-family: 'Gilroy';
       src: url('/src/Assets/Font/Gilroy-Black_0.ttf') format('truetype');
              font-weight: 900;
       font-style: normal;
     }
  /* @font-face {
       font-family: 'Satoshi';
       src: url('/src/Assets/Font/Satoshi-Medium_0.ttf') format('truetype');
              font-weight: 500;
       font-style: normal;
     } */


 @font-face {
    font-family: 'Montserrat';
    src: url('/src/Assets/Fonts/Montserrat-SemiBold.otf') format('truetype');
           font-weight: 600;
    font-style: normal;
  } 

  @font-face {
       font-family: 'Montserrat';
       src: url('/src/Assets/Fonts/Montserrat-Medium.otf') format('truetype');
              font-weight: 500;
       font-style: normal;
     } 
     @font-face {
       font-family: 'Montserrat';
       src: url('/src/Assets/Fonts/Montserrat-Light.otf') format('truetype');
              font-weight: 400;
       font-style: normal;
     } 

@font-face {
    font-family: 'DM Sans';
    src: url('/src/Assets/Font/static/DMSans-Medium.ttf') format('truetype');
           font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: 'DM Sans';
    src: url('/src/Assets/Font/static/DMSans-SemiBold.ttf') format('truetype');
           font-weight: 600;
    font-style: normal;
  }


@font-face {
    font-family: 'TASA Orbiter';
    src: url('/src/Assets/Font/tasa_orbiter/TASAOrbiter-Regular.ttf') format('truetype');
           font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'TASA Orbiter';
    src: url('/src/Assets/Font/tasa_orbiter/TASAOrbiter-Medium.ttf') format('truetype');
           font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'TASA Orbiter';
    src: url('/src/Assets/Font/tasa_orbiter/TASAOrbiter-SemiBold.ttf') format('truetype');
           font-weight: 600;
    font-style: normal;
  }










     /* @font-face {
       font-family: 'Outfit';
       src: url('/src/Assets/Fonts/Outfit.ttf') format('truetype');
       font-weight: 300;
       font-style: normal;
   } */

   /* .form-control:focus {
       color: #000 !important;
       background-color: #fff;
       border-color: #86b7fe;
       font-weight :900px !important;
       outline: 0;
       box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
     } */


     .fade-in{
       opacity: 0;
            }
     .fade-in.appear{
       opacity: 1;
       animation-duration: 1s;
       animation-name: fadeInBottom;
     }
     @keyframes fadeInBottom {
       from {
           opacity: 0;
           transform: translateY(100%);
           
       }
       to { opacity: 1 }
     }
     


     .animated-text {
       font-size: 24px;
       animation: slide-in 1s ease forwards; 
       opacity: 0; 
     }
     
     @keyframes slide-in {
       0% {
         transform: translateY(100%);
         opacity: 0;
       }
       100% {
         transform: translateY(0);
         opacity: 1;
       }
     }



     @font-face {
      font-family: 'Kalam';
      src: url('/src/Assets/kalamFont/Kalam-Bold.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: 'Kalam';
      src: url('/src/Assets/kalamFont/Kalam-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
    }
    
    @font-face {
      font-family: 'Kalam';
      src: url('/src/Assets/kalamFont/Kalam-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }